[submodule "packages/magiql"]
	path = packages/magiql
	url = https://github.com/nksaraf/magiql
[submodule "packages/solid-ink"]
	path = packages/solid-ink
	url = https://github.com/devinxi/ink
[submodule "packages/solid-import-jsx"]
	path = packages/solid-import-jsx
	url = https://github.com/devinxi/import-jsx
[submodule "packages/vite-plugin-docs"]
	path = packages/vite-plugin-docs
	url = https://github.com/devinxi/vite-plugin-docs
